<div class="jumbotron">
    <h1>Esto es pagina calendario LiveGame</h1>
    <pre id="calendario">
    
        
    </pre>
    <h1 id="title"></h1>
    <p class="lead">Comentarios XNBA.</p>
    <p><a href="" class="btn btn-primary btn-lg">Aprender &raquo;</a></p>
</div>

